html, body, * {
    padding: 0;
    margin: 0;
	font-family: "Helvetica-neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

a {
	color: #4f4e4e;
	font-weight: 400;
	text-decoration: none;
}
	a:hover	{
	    text-decoration: none;
		color: #ef8376;
	}

.icons {
	text-align: center;
}
	ul.icons {
		position: relative;
		padding-top: .5em;
		font-size: 2em;
	}
		ul.icons li {
			display: inline-block;
		}
			ul.icons li a {
				display: inline-block;
				width: 1.5em;
				color: #4f4e4e;
			}
				ul.icons li a:hover {
					color: #ef8376;
				}

#sidebar-title {
	padding: 10% 0 0 0;
	text-align: center;
	font-size: 3em;
	color: #4f4e4e;
}

.fa {
	text-decoration: none;
	display: none;
}
	.fa:before {
		display:inline-block;
		font-family: FontAwesome;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	
.fa-twitter:before{content:"\f099"}
.fa-github:before{content:"\f09b"}
