body, html {
   margin: 15px 0;
   font-family: Menlo !important;
}

h1 {
   padding: .5em 0 0 0;
   font-size: 32px;
   font-weight: 100;
   text-align: center;
}

h2 {
   font-size: 28px;
}

h3 {
   margin-top: 2em;
   font-size: 18;
   font-weight: 200;
}
h4 {
   font-size: 18;
   text-align: center;
   margin: 0.5em 0;
}

p {
   margin-top: .25em;
   margin-bottom: .25em;
   font-size: 14;
   font-weight: 100;
}

img {
   display: block;
   margin: auto;
}

a {
   color: black;
}

a:active,
a:hover {
   text-decoration: none;
   color: blue;
}

.social-icons-parent {
   font-size: 0;
   text-align: center;
}

.social-icon {
   display: inline-block;
   font-weight: normal;
   font-size: 18px;
   padding-right: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
}

@media (min-width: 1024px){
   #contact-side {
      position: fixed;
      max-width: 25%;
   }

   #profile-img {
      width: 66.7%;
      border-radius: 50%;
      margin-bottom: 1em;
      margin-top: 1em;
   }
}

@media (max-width: 1023px){

   #content-side {
      max-width: 100%;
   }

   #profile-img {
      width: 50%;
      border-radius: 50%;
      margin-bottom: 1em;
      margin-top: 1em;
   }
}
