body, html {
    margin: 15px 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
   padding: .5em 0 0 0;
   font-size: 32px;
   font-weight: 400;
   text-align: center;
}

h2 {
   font-size: 28px;
}

h3 {
   margin-top: 2em;
   font-size: 20;
   font-weight: 200;
}

h4 {
   font-size: 18;
   text-align: center;
   margin: 0.5em 0;
}

hr {
   border-width: 2px;
   border-color: blue;
}

p {
   margin-top: .25em;
   margin-bottom: .25em;
   font-size: 14;
   font-weight: 400;
}

img {
   display: block;
   margin: auto;
}

a {
   color: black;
   font-weight: bold;
}

a:active,
a:hover {
   text-decoration: none;
   color: blue;
}

.social-icons-parent {
   font-size: 0;
   text-align: center;
}

.social-icon {
   display: inline-block;
   font-weight: normal;
   font-size: 18px;
   padding-right: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
}

.spinning {
   -webkit-transform: rotate(360deg);
           transform: rotate(360deg);
   -webkit-transition: 0.5s;
           transition: 0.5s;
}

@media (max-width: 1023px){
   #profile-img {
      width: 50%;
      border-radius: 50%;
      margin-top: 1em;
      margin-bottom: 1em;
   }
}

@media (min-width: 1024px){
   #contact-side {
      position: fixed;
      max-width: 25%;
   }
   #profile-img {
      width: 66.7%;
      border-radius: 50%;
      margin-top: 1em;
      margin-bottom: 1em;
   }
}

@media (min-width: 1920px){
   #contact-side {
      position: fixed;
      max-width: 20%;
   }
   #profile-img {
      width: 66.7%;
      border-radius: 50%;
      margin-top: 1em;
      margin-bottom: 1em;
   }
}
