/* ======================= custom styles ======================= */
html, body {
	background: url(media/harbour-50p.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: #ef8376;
	font-size: 2.25em;
	font-weight: bold;
}

h2 {
  color: #ef8376;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: solid 2px #3f3f3f;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

img, iframe, video {
  display: block;
  margin: 0 auto;
}

em {
  font-style: italic;
}

li {
  padding: 0.25em 0;
  vertical-align: middle;
}

li > ol, li > ul {
  margin-bottom: inherit;
}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
   content: counter(item) ". ";
   counter-increment: item;
	margin-right: 1em;
	padding-bottom: 0;
}

a {
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

a:hover	{
    text-decoration: none;
	color: #ef8376;
}

.column-50 {
  float: left;
  width: 50%;
  height: 100%
}


.column-75 {
  float: left;
  width: 75%;
  height: 100%
}

.column-25 {
  float: left;
  width: 25%;
  height: 100%
}

.column-67 {
  float: left;
  width: 67%;
  height: 100%
}

.column-33 {
  float: left;
  width: 33%;
  height: 100%
}

.column-60 {
  float: left;
  width: 60%;
  height: 100%
}

.column-40 {
  float: left;
  width: 40%;
  height: 100%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section-continued {
	color: #ef8376;
   font-size: 0.75em;
   font-weight: bold;
	font-style: italic;
	padding-top: 2em;
   border-bottom: solid 2px #3f3f3f;
	text-align: right;
}

.small-comment {
	font-style: italic;
	font-size: 0.5em;
}

.sublist {
	font-size: 0.85em;
	padding-top: 0.5em;
}

.logo-img {
	padding: 0 25px 0 25px;
}

.contrib-name {
	font-size: 0.667em;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
}

.contrib-status {
	font-size: 0.667em;
	text-align: center;
	font-weight: 450;
	margin: 0.25em 0;
	padding: 0;
}

.contrib-loc {
	font-size: 0.6em;
	text-align: center;
	font-style: italic;
	margin: 0;
	padding: 0;
}

#sup-title {
	font-weight: 400;
	font-style: italic;
}

#title-author {
	padding-top: 2em;
	color: #3f3f3f;
	font-size: 1.25em;
	font-weight: 500
}

#title-date {
	color: #3f3f3f;
	font-size: 0.75em;
	font-weight: 350
}

#thanks-to {
	position: relative;
	text-align: top;
}

#refs {
	font-size: 1em;
}

#refs-list {
    counter-reset: list;
	 padding-left: 0;
	 display: table;

}

#refs-list > li {
	list-style: none;
	display: table-row;
}

#refs-list > li:before {
	content: "[" counter(list) "]";
	counter-increment: list;
	display: table-cell;
	padding-right: 1em;
	padding-top: 0.75em;
}

#ref-title {
	color: #ef8376;
	font-weight: 110%;
}

#ref-author {
	font-size: 0.75em;
	font-weight: 500;
}

#ref-journal {
	font-size: 0.75em;
	color: #3f3f3f;
	font-style: italic;
}

/* ======================= deck.js styles ======================= */
.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #3f3f3f;
  background-color: transparent;
  max-width: 1200px;
  padding-left: auto;
  padding-right: auto;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.75em;
}

.deck-container > .slide {
  padding: 0 50px;
}

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.slide-content {
	position: relative;
	margin-top: 25%;
}

.slide .deck-before, .slide .deck-previous {
  opacity: 1;
}

.slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}

.slide .deck-child-current {
  opacity: 1;
}

.deck-prev-link, .deck-next-link {
  background: #ccc;
  font-family: serif;
}

.deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
  color: #fff;
}

.deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}

.deck-status {
	font-size: 0.667em;
	color: #3f3f3f;
   margin: 0 100px 50px 0em;
 	font-weight: 500;
}

.some-top-margin {
	margin-top: -20%;
}

.nvd3-top-margin {
	margin-top: -2.5%;
}

.no-top-margin {
	margin-top: -10%;
}

.more-top-margin {
	margin-top: 10%;
}

.mnml-table {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	font-size: 1em;
	border-collapse: collapse;
}

.mnml-table th {
	padding: .5em 1em .25em 1em;
	font-size: 1em;
	font-weight: normal;
	border-bottom: 3px solid #ef8376;
}

.mnml-table td {
	padding: 0.25em 1em 0.25em 1em;
	font-size: 0.75em;
}

.mnml-table-line {
	border-bottom: 1px solid #3f3f3f;
}

::-moz-selection {
  background: #c00;
  color: #fff;
}

::selection {
  background: #c00;
  color: #fff;
}
