html, body, * {
	color: #4f4e4e;
}

h1 {
	color: #ef8376;
	font-size: 2.25em;
	font-weight: bold;
}

h2 {
  color: #ef8376;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: solid 2px #888;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

img, iframe, video {
  display: block;
  max-width: 100%;
}

video, iframe, img {
  display: block;
  margin: 0 auto;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888;
}

em {
  font-style: italic;
}

li {
  padding: .25em 0;
  vertical-align: middle;
}
li > ol, li > ul {
  margin-bottom: inherit;
}

.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #444;


  max-width: 1200px;
  padding-left: auto;
  padding-right: auto;
  /* margin: auto 25px auto 25px; */
}

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#title-author{
	padding-top: 20%;
	padding-bottom: 15px;
}

.slide-content {
	position: relative;
	margin-top:25%;
}

.some-top-margin {
	margin-top:-20%;
}

.nvd3-top-margin {
	margin-top:-2.5%;
}

.no-top-margin {
	margin-top:-25%;
}

.more-top-margin {
	margin-top:10%;
}

.small-comment {
	font-style: italic;
	font-size: .5em;
}

.mnml-table
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	font-size: 1em;
	border-collapse: collapse;
}
.mnml-table th
{
	padding: .5em 1em .25em 1em;
	font-size: 1em;
	font-weight: normal;
	border-bottom: 1px solid #888;
}
.mnml-table td
{
	padding: .5em 1em .25em 1em;
	font-size: .75em;
}
.mnml-table tbody tr:hover td
{
	color: #ef8376;
}

#right-side {
	float: right;
	padding-right: 2em;
}

#left-side{
	float: left;
	padding-left: 2em;
}

#ref-title {
	color: #ef8376;
	font-weight: 110%;
	padding-bottom: .25em;
}

#ref-author {
	font-size: .75em;
	padding-bottom: .25em;
}

#ref-journal {
	font-size: .75em;
	color: #888;
	font-style: italic;
	padding-bottom: .25em;
}

pre {
  border-color: #ccc;
}

code {
  color: #888;
}

blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
blockquote p {
  margin: 0;
}
blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}

::-moz-selection {
  background: #c00;
  color: #fff;
}

::selection {
  background: #c00;
  color: #fff;
}

a {
	font-weight: 400;
	text-decoration: none;
}
	a:hover	{
	    text-decoration: none;
		color: #ef8376;
	}

.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  background: #fff;
}
.deck-container > .slide {
  padding: 0 50px;
}

.slide .deck-before, .slide .deck-previous {
  opacity: 0.4;
}
.slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.slide .deck-child-current {
  opacity: 1;
}

.deck-prev-link, .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
  color: #fff;
}
.deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}

.deck-status {
  font-size: 0.6666em;
}

.deck-menu .slide {
  background: #eee;
}
.deck-menu .deck-current, .no-touch .deck-menu .slide:hover {
  background: #ddf;
}
